:root {
   --color-border: #E7E9E9;
   --color-border-top: #cccfcd;
   --color-dropdown: #b3b6b4;
   --color-thumb: #050505;
   --color-green: #024840;
   --color-light-green: #E3EDE2;
   --color-fff: #fff;
   --color-lime: #E4FD6F;
   --color-title: #011816;
   --color-placeholder: #919392;
   --color-hover: #AC8EFF;
   --color-infoRect: #F7F9F3;
   --color-input: #fff;
   --color-error: #f93838;
   --color-error-yellow: #ffe600;
   --color-error-green: #1ED760;
   --color-error-pink: pink;
   --color-error-text: red;

   --border-country: 10px;
   --border-input: 50px;
   --border-forms_info: 15px;
   --border-forms_decor: 20px;
   --border-img: 50%;


}